body{
    margin: 0;
    padding:0;
    background-color: #fff1d2;
}
/* 导航栏 */
.title{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 153, 0);
    padding: 10px 0;
}
.title a{
    color: #000;
    text-emphasis: none;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
}
.title a:hover{
    color: #fff;
    background-color: #555;
}
/* 搜索 */
.search{
    position: relative;
}
input,button{
    border: none;
    outline: none;
}
.search input{
    position: relative;
    top: 5px;
    padding: 5px 10px;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
}
.search button{
    position: absolute;
    top: 5px;
    right: 0px;
    padding: 6.5px 15px;
    background-color: #b5b5b5;
    color: white;
    border: none;
    border-radius: 0 19px 19px 0;
    cursor: pointer;
}
.search button:before{
    content: "搜索";
    font-size: 12px;
    color: #ffffff;
}
/* 轮播图 */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    /* display: flex;
    justify-content: space-around; */
    width: 1260px;
    height: 500px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zw{
    width: 1200px;
    height: auto;
    align-items: center;
    /* background-color: #f3ef06; */
}
.zw h2{
    color:  rgb(247, 166, 5);
    line-height:30px;
    margin-left: 100px;
}
.zw .hy{
    width: 1200px;
    background: #f3ef06;
    height: 2px;
    /* margin-left: 1%; */
}
.big-container{
    display: flex;
    /* flex-direction: column; */
    width: 1200;
    height: auto;
    margin-top: 30px;
    margin-left: 30px;
}
.left-box{
    width: 550px;
    line-height: 30px;
    margin: 0 20px;
    /* text-align: center;  */
}
.right-box{
    width: 550;
    line-height: 30px;
    margin: 0 20px;
    /* text-align: center;  */
}
#video1{
    top: 0;
    left: 0;
}
#video2{
    top: 0;
    right: 0;
}
h3{
    color:  rgb(247, 166, 5);
    line-height:30px;
}
.left-box span{
    display: block;
    width: 500px;
}
.right-box{
    width: 500px;
}
/* 底部 */
footer {
    background-color: rgb(255, 153, 0);
    color: #000000;
    padding: 20px;
    text-align: center;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer ul li {
    display: inline-block;
    margin-right: 20px;
}
 
footer ul li a {
    color: #000000;
    text-decoration: none;
}

